EVM_PRIVATE_KEY=***Merchant Private Key or the same Private Key with agent's as it has enough Gas for testing purposes only***
EVM_RPC_URL=https://sepolia.base.org
MERCHANT_ADDRESS=0x1111111111111111111111111111111111111111
FACILITATOR_URL=http://localhost:4022
PORT=4022
MERCHANT_PORT=4021
CROSS_CHAIN_ENABLED=true